@import '~antd/dist/antd.css';

#root {
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0;
}

.root__layout {
   /* margin-top: 70px; */
}

.header {
   background-color: #6f6f6f;
}

.header__content {
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   color: #fff;
}

.header__leftBlock,
.header__rightBlock {
   display: flex;
   align-items: center;
}

.header__leftBlock .header__item {
   margin-right: 10px;
}

.header__rightBlock .header__item {
   margin-left: 10px;
}

.header__item a {
   color: #fff;
}

.header__item a:hover {
   color: #40a9ff;
}

.header__account {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.authWrapper {
   margin-top: 20px;
}

.authWrapper__form {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.from__link a:hover {
   color: #222bd2;
}

.wrapperError {
   min-height: 20px;
   color: #f52d2d;
   font-size: 1.05em;
   text-align: center;
   padding: 3px 5px;
}

.contactFrorm__content {
   padding: 7px 0;
}

.contactForm__title {
   text-align: center;
   font-size: 1.5em;
}

.contactsWrapper {
   padding: 0 10px;
}

.top__inputs {
   display: flex;
   justify-content: space-between;
   padding: 15px;
}

.contactsWrapper__main {
   padding: 10px;
   position: relative;
}

.contactsWrapper__bottom {
   margin: 20px 0;
   display: flex;
   justify-content: center;
}

.loaderWrapper {
   position: absolute;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(20px);
   background-color: rgba(111, 111, 111, 0.3);
   display: flex;
   justify-content: center;
   border-radius: 10px;
   z-index: 1;
}

.loader {
   transform: translateY(20%);
}

.containerContacts {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contactItem {
   max-width: 950px;
   width: 100%;
   margin-bottom: 20px;
   border-radius: 5px;
   box-shadow: 0px -2px 15px rgb(0 0 0 / 10%), 0px 8px 8px rgb(0 0 0 / 4%);
}

.contactItem__body {
   position: relative;
   min-height: 90px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 25px;
}

.contactItem__number {
   position: absolute;
   top: 10%;
   left: 10px;
   font-size: 0.85em;
}

.itemContent__item {
   margin-right: 10px;
}

.contactItem___buttons {
   display: flex;
}

@media (max-width: 576px) {
   .contactItem___buttons {
      flex-direction: column;
   }
   .contactItem___buttons button:first-child {
      margin-bottom: 10px;
   }
}

.contactItem___buttons button {
   margin-left: 10px;
}
